
<div class = "img-full">
  <div class = "linear-gradient">
  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-12 mt-3">
        <a href = "https://mtn-supplier.netlify.app/homepage" class = "btn btn-outline"><i class="fas fa-angle-left">&nbsp;</i>Back</a>
      </div>
      <div class = "row mtn-heading">
        <div class = "col-12  m-0">
          <p class = "mtn-strapline">Contact</p>
          <h4 class = "mtn-strapline2">  MTN Suppliers</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
