.container-fluid{
  padding:8%;
  background-color: #000;

}

.footer-text-header{
  font-weight: bold!important;
  line-height: 1;
  font-weight: 900;
  font-family: MTNBrighterSans-MediumItalic,Century Gothic,Arial,sans-serif;
  display: block;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  // transition: all .5s ease-in-out;
  transition-property: color,font-family,font-weight;
  padding-bottom: 10px;
  color: #fff;
  cursor: pointer;
}

.footer-text-p{
  // line-height: 1;
  cursor: pointer;
  font-weight: 900;
  font-family: MTNBrighterSans-MediumItalic,Century Gothic,Arial,sans-serif;
  display: block;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  // transition: all .5s ease-in-out;
  transition-property: color,font-family,font-weight;
  // padding: 15px 30px;
  color: #fff;
}

.footer-text-header:hover{
  color:rgb(172, 172, 172);
}

.footer-text-p:hover{
  color:rgb(172, 172, 172);
}


.font-awesome-icon{
  color: #fff;
  margin-right: 40px;
  font-size: 26px;
  cursor: pointer;
}

.font-awesome-icon:hover{
  color: rgb(255, 204, 0);
}

.footer-text-small {
  font-size: 11px;
  font-family: MTNBrighterSans-Light,Century Gothic,Arial,sans-serif;
  color: #484848;
  line-height: 1;
  font-weight: 600;
}

.smaller-footer{
  cursor: pointer;
}
