<div class  = "container-fluid">
  <div class = "row">
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header">Personal</h6>
      <p class = "footer-text-p">Services</p>
      <p class = "footer-text-p">Data</p>
      <p class = "footer-text-p">Devices</p>
      <p class = "footer-text-p">Getting Started</p>
      <p class = "footer-text-p">myMTN App</p>
    </div>
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header">Business</h6>

    </div>
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header">Investors</h6>
      <p class = "footer-text-p">More Investors</p>
      <p class = "footer-text-p">Shareholders</p>
      <p class = "footer-text-p">Financial Reporting</p>
      <p class = "footer-text-p">Announcement</p>
    </div>
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header">Foundations</h6>
    </div>
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header">Events</h6>
    </div>
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header">Support</h6>
      <p class = "footer-text-p">Help Center</p>
      <p class = "footer-text-p">Community</p>
    </div>
  </div>

  <div class = "row mt-3">
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header">About</h6>
    </div>
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header">Careers</h6>

    </div>
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header">Contact Us</h6>
      <p class = "footer-text-p">MTN Suppliers</p>
    </div>
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header"></h6>
    </div>
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header"></h6>
    </div>
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header"></h6>
      <p class = "footer-text-p"></p>
      <p class = "footer-text-p"></p>
    </div>
  </div>

  <div class = "row">
    <div class = "col-6 font-awesome-icon">
      <i class="fab fa-facebook-f font-awesome-icon"></i>
      <i class="fab fa-twitter font-awesome-icon"></i>
      <i class="fab fa-linkedin-in font-awesome-icon"></i>
      <i class="fab fa-youtube font-awesome-icon"></i>
      <i class="fab fa-instagram font-awesome-icon"></i>
    </div>
    <div class = "col-6">

    </div>

  </div>

  <div class = "row">
    <div class = "col-12 footer-text-small mt-3">
      © 2020 MTN Nigeria Communications PLC, All rights reserved.
    </div>
    <div class = "col-12 footer-text-small mt-3 smaller-footer">
      Privacy Policy & Data Protection
    </div>
  </div>

</div>
