<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/1200px-MTN_Logo.png" alt="Mtn Logo" width="40"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Personal  <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Business</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Investors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Foundation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Careers</a>
      </li>
      <li class="nav-item mr-5">
        <a class="nav-link " href="#">Contact Us</a>
      </li>
      <div style="max-width:40px;margin: 10px">
        <form class="form-inline my-2 my-lg-0 input-icons">
          <i class="fa fa-search icon"></i>
          <input class="form-control mr-sm-2 searchbar" type="search"  aria-label="Search">
        </form>
      </div>

    </ul>


  </div>
</nav>

