nav {
  background-color: rgb(255, 204, 0);
}

nav li > a {
  color: #000;
  font-weight: 600;
  font-size: 5;
  padding: 20px;
  font-family: MTNBrighterSans-Medium, Century Gothic,Arial,sans-serif;;
}

a {
  font-size: 5;
}
