<div class="container-fluid">
  <div class="row mtn-header-section">
    <div class="col-12">
      <h4 class="mtn-section-header mt-5">Become an MTN Supplier</h4>
      <p class="mtn-p">
        If you believe you can join MTN’s vision to make our customers lives a whole lot brighter, then click on apply below to fill in the registration form.
      </p>

    </div>

      <div class="col-xs-12 col-sm-9 col-md-6 col-lg-5 mr-2 card">
        <div class=" pt-3 pl-3 pb-4">
          <div class = 'row'>
            <div class = "col-9">
              <h4 class="card-title mtn-p mtn-card-text mb-0 font-weight-bold">
                Supplier Privacy Notice
              </h4>
              <p class="card-text mtn-small-text">(2MB-PDF)</p>
            </div>
            <div class = "col-3">
              <button
              type="default"
              class="mt-2 mtn-download-btn"
              >
              <i class="fa fa-download"></i>
            </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-9 col-md-6 col-lg-5 mr-2 card">
        <div class=" pt-3 pl-3 pb-4">
          <div class = 'row'>
            <div class = "col-9">
              <h4 class="card-title mtn-p mtn-card-text mb-0 font-weight-bold">
                Code of Conduct
              </h4>
              <p class="card-text mtn-small-text">(556MB-PDF)</p>
            </div>
            <div class = "col-3">
              <button
              type="default"
              class="mt-2 mtn-download-btn"
              >
              <i class="fa fa-download"></i>
            </button>
            </div>
          </div>
        </div>
    </div>
</div>



