<div class="container-fluid">
  <div class="row mtn-header-section">
    <div class="col-12">
      <h4 class="mtn-section-header">Existing MTN supplier</h4>
      <p class="mtn-p">
        MTN has a responsibility to ensure that our business practices are
        conducted according to local and international laws, and adhere to the
        highest levels of ethical and moral conduct.
      </p>
      <p class="mtn-p">
        We embrace this across all parts of our business, and we expect the same
        from our suppliers. The Supplier Code of Conduct sets out our approach
        to ethical and sustainable business practices and aims for the highest
        ethical conduct. It outlines our commitment to respect and promote human
        rights and fair workplace practices, including equal opportunities,
        environmentally sustainable business activities, and a zero-tolerance
        policy to bribery and corruption.
      </p>
      <p class="mtn-p">
        MTN expects its suppliers to embrace this commitment to integrity by
        complying with and training its employees and subcontractors on the
        Supplier Code of Conduct.
      </p>
      <p class="mtn-p">
        By working together, we can make the customer’s lives a whole lot
        brighter.
      </p>
    </div>

    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-5 mr-2 card">
      <div class=" pt-3 pl-3 pb-4">
        <div class = 'row'>
          <div class = "col-9">
            <h4 class="card-title mtn-p mtn-card-text mb-0 font-weight-bold">
              Supplier Privacy Notice
            </h4>
            <p class="card-text mtn-small-text">(2MB-PDF)</p>
          </div>
          <div class = "col-3">
            <button
            type="default"
            class="mt-2 mtn-download-btn"
            >
            <i class="fa fa-download"></i>
          </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-5 card">
      <div class=" pt-3 pl-3 pb-4">
        <div class = 'row'>
          <div class = "col-9">
            <h4 class="card-title mtn-p mtn-card-text mb-0 font-weight-bold">
              Code of Conduct
            </h4>
            <p class="card-text mtn-small-text">(556MB-PDF)</p>
          </div>
          <div class = "col-3">
            <button
            type="default"
            class="mt-2 mtn-download-btn"
            >
            <i class="fa fa-download"></i>
          </button>
          </div>
        </div>
      </div>
  </div>


</div>

<!-- <div class="mtn-card__content">
  <div class="mtn-card--text-link__info">
    <div class="mtn-card--text-link__title">
      <h3 class="mtn-p">Supplier Privacy Notice</h3>
    </div>
    <p class="mtn-p mtn-text-smaller">(2 MB-PDF)</p>
  </div>
  <button
    type="default"
    class="mtn-fab-btn mtn-btn--skin-yellow"
    onclick="window.open('','_self')"
  >
    <i class="mdi mdi-download"></i>
  </button>
</div> -->
