<div class  = "container-fluid">
  <div class = "row">
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header">Personal</h6>
      <p class = "footer-text-p">Services</p>
      <p class = "footer-text-p">Data</p>
      <p class = "footer-text-p">Devices</p>
      <p class = "footer-text-p">Getting Started</p>
      <p class = "footer-text-p">myMTN App</p>
    </div>
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header">Business</h6>

    </div>
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header">Investors</h6>
      <p class = "footer-text-p">More Investors</p>
      <p class = "footer-text-p">Shareholders</p>
      <p class = "footer-text-p">Financial Reporting</p>
      <p class = "footer-text-p">Announcement</p>
    </div>
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header">Foundations</h6>
    </div>
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header">Events</h6>
    </div>
    <div class = "col-12 col-lg-2">
      <h6 class = "footer-text-header">Support</h6>
      <p class = "footer-text-p">Help Center</p>
      <p class = "footer-text-p">Community</p>
    </div>
  </div>
</div>
